<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
<style>

.topright {
    position: absolute;
    top: 8px;
    right: 80px;
    font-size: 18px;
}
	
.middleright {
    position: absolute;
    top: 8px;
    right: 200px;
    font-size: 18px;
}
	
.middlemiddle {
    position: absolute;
    top: 8px;
    right: 300px;
    font-size: 18px;
}

.middleleft {
    position: absolute;
    top: 8px;
    right: 400px;
    font-size: 18px;
}

</style>
</head>
<body>
<style>
.foot {
    position: absolute;
    bottom: 8px;
    right: 100px;
    font-size: 18px;
}
</style>
	<nav>
  <div class="topright"><a href="https://scryptive.github.io/planet-fred/projects/">Projects</a></div>
  <div class="middleright"><a href="https://scryptive.github.io/planet-fred/notes/">Notes</a></div>
  <div class="middlemiddle"><a href="https://scryptive.github.io/planet-fred/books/">Books</a></div>
  <div class="middleleft"><a href="https://scryptive.github.io/planet-fred/">Home</a></div>
	</nav>
			<footer>
           		        <div class="foot">
                			<h3>© Freddie Archibald 2018</h3>
	    			</div>
			</footer>
		</body>
	</html>
