<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="https://scryptive.github.io/planet-fred/">Home</a></li>
	        		<li><a href="https://scryptive.github.io/planet-fred/books/">Books</a></li>
	        		<li><a href="https://scryptive.github.io/planet-fred/notes/">Notes</a></li>
				<li><a href="https://scryptive.github.io/planet-fred/projects/">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
           		        <div>
                			<h3>© Freddie Archibald 2018</h3>
	    			</div>
			</footer>
		</body>
	</html>
