<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="https://scryptive.github.io/planet-fred/">Home</a></li>
	        		<li><a href="https://scryptive.github.io/planet-fred/books/">Books</a></li>
	        		<li><a href="https://scryptive.github.io/planet-fred/notes/">Notes</a></li>
				<li><a href="https://scryptive.github.io/planet-fred/projects/">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div style="width:150px;height:40px;border:2px solid #000;"><h3>Home</h3></div>
<style>

.topright {
    position: absolute;
    top: 8px;
    right: 80px;
    font-size: 18px;
}
	
.middleright {
    position: absolute;
    top: 8px;
    right: 200px;
    font-size: 18px;
}
	
.middlemiddle {
    position: absolute;
    top: 8px;
    right: 300px;
    font-size: 18px;
}

.middleleft {
    position: absolute;
    top: 8px;
    right: 400px;
    font-size: 18px;
}

</style>
</head>
<body>
  <div class="topright"><a href="https://scryptive.github.io/planet-fred/projects/">Projects</a></div>
  <div class="middleright"><a href="https://scryptive.github.io/planet-fred/notes/">Notes</a></div>
  <div class="middlemiddle"><a href="https://scryptive.github.io/planet-fred/books/">Books</a></div>
  <div class="middleleft"><a href="https://scryptive.github.io/planet-fred/">Home</a></div>
</div>

	
			<footer>
           		        <div>
                			<h3>© Freddie Archibald 2018</h3>
	    			</div>
			</footer>
		</body>
	</html>
